* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body {
  background-image: url("https://i.ibb.co/D1vkMcG/pexels-maxyne-barcel-10402282-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0 0 0 / 38%);
}
.logo {
  width: 12%;
  height: auto;
  position: absolute;
  top: 50px;
  left: 100px;
}

ul {
  list-style: none;
  position: absolute;
  top: 66px;
  left: 500px;
  color: #ffd700;
  font-size: 25px;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.button-small {
  position: absolute;
  top: 66px;
  left: 1300px;
  background: #ff0000;
  border: #ff0000;
  color: #ffffff;
  width: 120px;
  height: 40px;
  font-size: 20px;
}
.hero-heading {
  font-size: 100px;
  position: absolute;
  top: 180px;
  left: 320px;
  color: #ffd700;
  text-align: center;
}
.bottom {
  position: absolute;
  top: 500px;
  left: 1250px;
}
.button-large {
  position: absolute;
  top: 600px;
  left: 680px;
  background: #ff0000;
  border: #ff0000;
  color: #ffffff;
  width: 220px;
  height: 50px;
  font-size: 25px;
}
